@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

/* TAILWIND CSS LINKS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* SLICK CAROUSEL LINKS */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
}

.Wittgenstein {
    font-family: 'Wittgenstein';
}

html:not([data-scroll="0"]) .navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white !important;
  opacity: 1.9;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
  transition: 0.4s linear;
  padding: 0px !important;
  /* height: 20px; */
  z-index: 10;
}

/* html:not([data-scroll="0"]) .navbar>div>div {
  height: 3rem;
} */

html:not([data-scroll="0"]) .border-right {
  height: 4rem;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.navbar {
  /* border-bottom: 0.5px solid rgba(196, 196, 196, 0.75); */
  
}

.banner {
    position: relative;
    text-align: center;
}

.banner_background {
    background-color: #b1b1b1;
    background: linear-gradient(to top left, #cbcbcb50, rgba(108, 108, 108, 0), #cfabab), linear-gradient(to top right, #696969, rgba(126, 126, 126, 0), #5e5e6b), #8291ba;
}


.centered{
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    z-index: 5
}

.hover-underline {
  display: inline-flex;
  position: relative;
  /* color: #ffffff; */
  justify-content: center;
  align-items: center;
}

.hover-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform .25s ease-out;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.preline:before {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background: #000000;
  ;
  left: 4px;
  top: 72%;
  position: absolute;
}

@media only screen and (max-width: 1024px) {
  .preline:before {
    display: none;
  }
}

.comma-pos {
  top: -40px;
  left: -121px;
}

.border-right {
  border-right: 1px solid rgba(196, 196, 196, 0.55);
  height: 117px;
  padding-right: 70px;
}

@media only screen and (max-width: 1150px) {
  .border-right {
    height: 0px;
    border-right: 0px solid rgba(196, 196, 196, 0.55);
  }
}

.pd76 {
  padding-right: 76px !important;
}

/* .navbutton {
  border: 1px solid rgba(0, 0, 0, 0.35);
} */

.navlinks {
  color: rgba(0, 0, 0, 0.75);
}

.bg-faschools_banner {
  background-image: url("/images/services/firealarms/School1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-fainstitutions_banner {
    background-image: url("/images/services/firealarms/Institution1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-fabuilding_banner {
    background-image: url("/images/services/firealarms/Building1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  .bg-faresidential_banner {
    background-image: url("/images/services/firealarms/Residential1.mov");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-faoffice_banner {
    background-image: url("/images/services/firealarms/Office1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-fawarehouse_banner {
    background-image: url("/images/services/firealarms/Warehouse5.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-acfacerecog_banner {
    background-image: url("/images/services/accesscontrol/FaceRec6.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-accard_banner {
    background-image: url("/images/services/accesscontrol/AccessControlBanner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-ackeyfob_banner {
    background-image: url("/images/services/accesscontrol/KeyFob.mov");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-accard_banner {
    background-image: url("/images/services/accesscontrol/KeyFob.mov");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-acpinno_banner {
    background-image: url("/images/services/accesscontrol/PinNo1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

.bg-build {
  background-image: url('/images/beliefs/getInTouch.gif');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 500px;
}

.girldoodle {
  top: 12px;
  right: -115px;
}

.marginFeature {
  margin-top: -500px;
}

@media only screen and (max-width: 700px) {
  .marginFeature {
    margin-top: -341px;
  }
}

.pb-70 {
  padding-bottom: 18rem;
}

.bg-beliefs {
  background-image: url('/images/beliefs/sendmessage.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 300px;
}

.position-linkedin {
  right: 60px;
  bottom: -57px;
}

.bg-wework {
  background-image: url('/images/wework/elipse.svg'), url('/images/wework/vector.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top right;
}

.bg-featured {
  background-image: url('/images/wework/vector.svg');
  background-repeat: no-repeat;
  background-position: 100% 35%;
}

.feature-margin {
  margin-top: -480px;
}

@media only screen and (max-width: 768px) {
  .feature-margin {
    margin-top: -300px;
  }
}

.nextarrow {
  background-color: aqua;
}

.faq-bg {
  background-image: url('/images/faq/swirl.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-testimonial {
  background-image: url('/images/wework/elipse.svg'), url('/images/testimonial/boy.svg'), url('/images/testimonial/girl.svg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 55%, 84% 26%, 12% 18%;
}

@media only screen and (max-width: 1400px) {
  .bg-testimonial {
    background-position: 80%, top right, top left;
  }
}


.manageTabs {
  border: 1px solid #DBDBDB;
  box-shadow: 0px 4px 5px 1px rgba(193, 193, 193, 0.35);
  border-radius: 20px;
}

.test-pos {
  left: 42px;
  top: 44px;
}

.test-sha {
  box-shadow: 0px 5px 10px rgba(89, 104, 118, 0.05);
}

.star {
  filter: invert(79%) sepia(53%) saturate(1095%) hue-rotate(330deg) brightness(101%) contrast(96%);
}

.article-img {
  top: 225px;
  right: 30px;
}

.w-345 {
  width: 400px;
}

.bg-joinus {
  background-image: url('/images/joinus/horn.svg'), url('/images/joinus/paint.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: 84% 109%, 12% 18%;
}


.space-links {
  transition: .3s;
}

.space-links:hover {
  letter-spacing: 1px;
}

.dance-text {
  font-family: 'Dancing Script', cursive !important;
  transform: rotate(-10.06deg);
  text-align: center;
  margin-left: -340px;
}

@media only screen and (max-width: 466px) {
  .dance-text {
    margin-left: -265px;
  }
}

.toggleImage {
  position: absolute;
  right: 47rem;
  top: 2rem;
}

@media only screen and (max-width: 1250px) {
  .toggleImage {
    display: none;
  }
}

.joinButton {
  padding: 20px 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1023px) {
  .joinButton {
    padding: 20px 92px;
  }
}


/* SLICK  */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 40% !important;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-next {
  right: -70px !important;
}

.slick-prev {
  left: -60px !important;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 17px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
}


.imageContainer {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.imageContainer Image {
  width: 100%;
  vertical-align: top;
}

.imageContainer:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-radius: 20px;
}

.imageContainer:hover:after {
  opacity: 1;
}

.imageContainer:hover>a>button {
  display: block;
}

.manage > div:nth-child(2) {
  background-color: #00224A!important;
  color: #ffffff;
}

.manage > div:nth-child(2) button {
  color: #ffffff;
}

.manage > div:nth-child(2) h3 {
  color: #747474;
}

/* Footer */

.footer-icons {
    box-shadow: 0px 19px 28px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer-icons {
    transition: .5s;
}

.footer-icons:hover {
    transform: translateY(-8px);
}

.footer-fb-icons {
    box-shadow: 0px 19px 28px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-fb-icons {
    transition: .5s;
}
.footer-fb-icons:hover {
    transform: translateY(-8px);
}

.space-links {
    transition: .3s;
}

.space-links:hover {
    letter-spacing: 1px;
}

/* SideBar */
.sidebar { 
    /* width: 25%;  */
    /* height: 50px;  */
    /* min-height: 200px;  */
    /* overflow: auto; */
    background: #EC1E24; 
    color: #ffffff; 
    position: fixed; 
    top: 150px; 
    font-size: 25px; 
    z-index: 10;
} 

.specialOfferSideBar {
    /* background: #EC1E24;  */
    /* color: #ffffff;  */
    position: fixed; 
    top: 100px; 
    right: 5px;
    /* font-size: 25px;  */
    z-index: 10;
}

/* .st-h3 { 
    padding-left: 30px; 
}  */

li { 
    list-style: none; 
    /* padding: 9px;  */
} 

/* Animations */
.banner_title_animation {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }

  .typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }

  /* List Styling */
  .list-disc li {
    list-style-type: disc;
  }

  /* Service Page Background */

.bg-firealarms, .bg-accesscontrol, .bg-videointercom, .bg-cctv, .bg-intusionalarms, .bg-slidingdoors, .bg-magneticlocks, .bg-netservers{
    background-repeat: no-repeat;
    background-size: cover;
}
  .bg-firealarms {
    background-image: url("/images/services/firealarms/FireAlarmsMain.jpeg");
  }

  .bg-accesscontrol{
    background-image: url("/images/services/access-control-bg.png");
  }

  .bg-videointercom {
    background-image: url("/images/services/video-intercom-bg.png");
  }

  .bg-cctv {
    background-image: url("/images/services/cctv-bg.png");
  }

  .bg-intusionalarms {
    background-image: url("/images/services/intrusion-alarms-bg.png");
  }

  .bg-slidingdoors {
    background-image: url("/images/services/sliding-doors-bg.png");
  }

  .bg-magneticlocks {
    background-image: url("/images/services/magnetic-locks-bg.png");
  }

  .bg-netservers{
    background-image: url("/images/services/net-server-bg.png");
  }

  .service_list_item_fa {
    background-color: #EC1E24;
    color: #eff6ff;
    border-radius: 50px;
    margin-bottom: 10px;
  }

  .service_list_item_fa:hover, .service_list_item_ac:hover, .service_list_item_vi:hover {
    background-color: #A6A6A6;
    color: #000000;
  }

  .service_list_item_ac {
    background-color: #5271FF;
    color: #eff6ff;
    border-radius: 50px;
    margin-bottom: 10px;
  }

  .service_list_item_vi {
    background-color: #FAC900;
    color: #000000;
    border-radius: 50px;
    margin-bottom: 10px;
  }

  
  
  .scrolling_text {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    background-color: red;
}

.text {
    /* background-color: yellow; */
    text-transform: uppercase;
    color: white;
    animation: animate_text 30s linear infinite; /* The 
    animation property */
    margin: 0 40px;

}

.text span {
    margin: 0 40px;
}

@keyframes animate_text {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
}

.glassmorphism {
    @apply shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur;
  }

  .glassmorphism_blue {
    @apply shadow-[inset_10px_-50px_94px_0_rgb(137,207,240,0.2)] backdrop-blur;
}

.glassmorphism_blue {
    /* From https://css.glass */
background: rgba(177, 177, 255, 0.2);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.13);
}


/* SERVICE HEADERS */
.service-header {
    @apply p-10;
}
